/* header style for details  */
.header-details{
    text-align: center;
    width:80%;
    background-color: black;
    color:white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding:20px;
}
.header{
    margin-top:10px;
    margin-bottom: 15px;
}